{{!-- <nav class="bg-dark text-center">
<div class="container-fluid">
<a href="/scores/byID"><button type="button" id="dvprs" class="btn btn-primary">Get Scores by ID</button></a>
<a href="/scores/bydate"><button type="button" id="pain_int" class="btn btn-primary">Get Scores by Date</button></a>
</div>
</navbar> --}}