<div class="container-fluid text-center">
    <br>
    <br>
    <h1>PASTOR Provider Dashboard Mockup</h1>

  
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Instructions:</h2>
            <h4><p>This is a proposed mockup of a provider dashboard. The PASTOR assessments are broken into DVPRS/PROMIS instruments and other static questionnaires such as PTSD, Headache, and Pain Catastrophizing. Click on the link above to arrange either DVPRS/PROMIS or static questionnaires by date taken or by patient ID (PID).</p>
            
            <p>To look at an individual record, click on the search by Patient ID and Assessment tab. You can view an individual's full record of DVPRS/PROMIS or static questionnaires. You can also view a graphical representation of their scores by clicking on the individual assessment below.</p>
            
            <p>Disclaimer--all data is fake and not tied to real patients. To add more sample data, use the "Add Sample Entry" tab.</p></h4>
        </div>
    </div>
</div>