<div class="container">
<form>
  <div class="form-group">
    <label for="one">Patient ID</label>
    <input type="text" id="patientID" class="form-control">
</div>
<select id="selection">
  <option value="dvprs">DVPRS/PROMIS</option>
  <option value="pcs">PCS/PTSD</option>
  
</select>

 
  
  <button type="submit" class="dbIndividual btn btn-primary">Submit</button>
</form>
</div>