<div class="container">
<form>
  <div class="form-group">
    <label for="one">Patient ID</label>
    <input type="text" id="entryPatientID" class="form-control">
    <label for="one">Date (YYYY-MM-DD)</label>
    <input type="text" id="dateEntry" class="form-control">
    <label for="two">DVPRS Score</label>
    <input type="text" id="dvprsScore" class="form-control">
    <label for="three">PROMIS Pain Interference T-Score</label>
    <input type="text" id="painIntScore" class="form-control">
    <label for="four">PROMIS Physical Function T-Score</label>
    <input type="text" id="physFuncScore" class="form-control">
    <label for="five">PROMIS Fatigue T-Score</label>
    <input type="text" id="fatigueScore" class="form-control">
    <label for="six">PROMIS Sleep Impairment T-Score</label>
    <input type="text" id="sleepScore" class="form-control">
    <label for="seven">PROMIS Depression T-Score</label>
    <input type="text" id="depressScore" class="form-control">
    <label for="eight">PROMIS Anxiety T-Score</label>
    <input type="text" id="anxScore" class="form-control">
      <label for="nine">PROMIS Anger T-Score</label>
    <input type="text" id="angerScore" class="form-control">
    <label for="nine">PROMIS Social Satisfaction Roles T-Score</label>
    <input type="text" id="socScore" class="form-control">
    <label for="ten">PROMIS Alcohol Use T-Score</label>
    <input type="text" id="alcoholScore" class="form-control">
     <label for="eleven">Pain Catastrophizing Score</label>
    <input type="text" id="pcsScore" class="form-control">
     <label for="twelve">Headache Score</label>
    <input type="text" id="headacheScore" class="form-control">
     <label for="thirteen">PTSD Score</label>
    <input type="text" id="ptsdScore" class="form-control">
  
</div>

 
  
  <button type="submit" class="dbEntry btn btn-primary">Submit</button>
</form>
</div>